@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.showcase {
    height: 100vh;
    background-image: url('./Assets/showcase/showcase.png');
    background-position:  right center;
    background-repeat: no-repeat;
    background-size: cover;
}
